<div class="max-w-md mt-4 mx-auto bg-yellow-100 border border-black rounded shadow-md">
  <h2 class="text-center text-2xl p-3 font-bold">Add a new task</h2>
  <div class="block justify-center px-4 pb-4">
    <%= simple_form_for(@task) do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%= f.input :completed %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
